<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Bench BnB</title>
  </head>
  <body>
    <div class="" id='content'>
      You made it to the root!!!
    </div>
  </body>
</html>
